language: python
python: 3.5
env:
- TOXENV=py35
- TOXENV=py34
- TOXENV=py27
install: pip install -U tox
script: tox -e ${TOXENV}
deploy:
  on:
    condition: "$TOXENV == py27"
    repo: glogiotatidis/neres
    tags: true
  distributions: sdist bdist_wheel
  provider: pypi
  user: glogiotatidis
  password:
    secure: WKUT+71mV2jy9dbGgz2llRUlCW8vpdLBJ/ovFoB8XDxUto3rG/2vmCOdyTi26m17aVahnczdf1PMdBuvMiF6ssZLtGnvLBBJLofSnPg4lvffUJVV0LBhxP2mRxkOEkQgeNQPHIngTS4MIEND8nT5VljIHEUUHaFQIqVGpdgz1Zw+wjSIrY2Ybu7zocPO6eJJK1kkMoEtb3de8dCBS6Q+tIwIR/u8hkEHM8L0HUrn0pQwyDn2MVjTPuL3msLPa+vi+KzViMQEX4l0wSPECJrOe2DdsN8Gx+EG/tt09hDFsHhJM7UPunX7+ycTY66mtS0viUr7IG2cY6BB8Ep6CtOxcPvv5gU29UhsAORW2xfepR9CF9H3o9segy3wW59/8aUhOmhq3Cj6kiTZmrKRs0RUi9gCvGcRyyyuY6ZCuq2/iuotMhc70pgnA2/GsqsW47hRLprsUpp7e9Cy00vT3yQPjis7mZwdtggtSauuAoDJne01XchM2G1PqryDEdp5MgHgsjPiWcv+Ohx/n8MM/pHsIDTsGEWFOjzUWxDb9Y9DzQoPB+hOO5r2qDoHxHfT1QwzDWWma/JB9hV6kSo3ueoQ6cDcKppGYcJaYv/hyGnqLp2pkr0t1FEqIOUDkc0OTWqlvvqSfA3GtyiqZd1gR5SpTYblM8esbk5fNBIRLpbG8gI=
